<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969126230235-gtk51rvo2gu24tpnb21bo1acqmbkbgqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969126230235-gtk51rvo2gu24tpnb21bo1acqmbkbgqa</string>
	<key>API_KEY</key>
	<string>AIzaSyC6QewgkQ3lmBhp3V93V1WvyYENIIeYUCM</string>
	<key>GCM_SENDER_ID</key>
	<string>969126230235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevin.NachTest</string>
	<key>PROJECT_ID</key>
	<string>testappnacht</string>
	<key>STORAGE_BUCKET</key>
	<string>testappnacht.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969126230235:ios:4c2ef82cdcf934b465b4fe</string>
</dict>
</plist>